/*
公共类
    清除浮动
    居中显示类
*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
}

.center {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*
header 样式设置
*/

.header {
    margin-top: 6px;
    height: 60px;
}

.header h1.logo {
    width: 100px;
    height: 45px;
    /*overflow: hidden;*/
    float: left;
    margin-top: 6px;
}

.header h1.logo img {
    width: 100%;
}

.menu {
    float: right;
}

.menu li {
    float: left;
}

.menu li a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    padding: 20px 0;
    margin: 0 15px;
    border-bottom: 3px solid #fff;
}

.menu li a:hover {
    color: #00a7ea;
    border-bottom: 3px solid #00a7ea;
}


/*
banner 样式设置
*/

.banner {
    height: 260px;
    background: url(../images/brief_banner.jpg) center;
}


/*
content 样式设置
*/

.content {
    margin-top: 20px;
    color: #666;
}

.content h2 {
    color: #333;
    font-size: 1.6em;
    font-family: "黑体";
}

.content .nav {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
}


/*
footer 样式设置
*/

.footer {
    color: #666;
    font-size: 12px;
    background-color: #f5f5f5;
}

.footerContent {
    padding: 30px 0;
}

.footerContent .bottomLink {
    margin: 30px 0;
}

.footerContent .contactUs {
    position: absolute;
    top: 50px;
    right: 0;
}

.footerContent .contactUs li {
    float: left;
}

.footerContent .contactUs .weixin {
    display: inline-block;
    text-indent: -999em;
    width: 30px;
    height: 25px;
    background: url(../images/ico_footer.png);
    position: relative;
}

.footerContent .contactUs .weixin img.code {
    width: 150px;
    height: 150px;
    position: absolute;
    left: -50px;
    top: 24px;
    display: none;
}

.footerContent .contactUs .weixin:hover img.code {
    display: block;
}

.footerContent .contactUs .weibo {
    display: inline-block;
    margin-left: 20px;
    text-indent: -999em;
    width: 30px;
    height: 25px;
    background: url(../images/ico_footer.png) -124px;
}

.footerContent .copyright {
    line-height: 1.8;
}
